{
        "auths": {
                "combined-registry.sbx.zone": {
                        "auth": "c3ZjX2RvY2tlcjpjOWJNZ3RaRlduN1ZyQjJi"
                },
                "registry.sbx.zone": {
                        "auth": "c3ZjX2RvY2tlcjpjOWJNZ3RaRlduN1ZyQjJi"
                }
        }
}